/* animalSpecific.css */

.p-card {
  /* max-height: 600px; Set maximum height */
  /* overflow: auto; Add scroll if content exceeds height */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 500px;
  margin-left: 400px;
  margin-right: 400px;
  /* margin-bottom: 100px; */
  margin-bottom: 0; /* Remove the bottom margin */
  padding-bottom: 0;
  border: none; /* Remove any border */
  box-shadow: none; 
  
}
/* animalSpecific.css */

.p-d-flex.p-flex-column.p-ai-end.qr-code-container {
  margin-bottom: 0; /* Remove any bottom margin */
  padding-bottom: 0; /* Remove any bottom padding */
  border-bottom: none; /* Remove any bottom border */
}

.animal-data-container {
  margin-bottom: 20px; /* Add margin to bottom of the data container */
  text-align: center; /* Center text horizontally */
}


.qr-code-container {
  margin-top: 10px; /* Add margin to top of the QR code container */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */

}

.button-container {
  margin-top: 10px; /* Add margin to top of the button container */
  display: flex; 
  align-items: center; /* Center items horizontally */

}
