.create-customer-container {
    max-width: 400px;
    /* margin-top: 50px; */
    margin: 50px 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
  }
  
  .create-customer-form {
    display: flex;
    flex-direction: column;
  }
  
  .create-customer-form .p-field {
    margin-bottom: 20px;
  }
  
  .create-customer-form label {
    font-weight: bold;
  }
  
  .create-customer-form .p-inputtext {
    width: 100%;
  }
  
  .create-customer-form .p-button {
    width: 100%;
    margin-top: 20px;
  }
  
  .create-customer-form .p-message {
    margin-top: 10px;
  }
  