/* createevent.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Set position to relative to contain absolute positioned elements */
  }
  
  .form-container {
    margin-top: 50px;
    width: 300px; /* Adjust width as needed */
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Ensure relative positioning for z-index */
    z-index: 2; /* Ensure form appears above the background image */
    background-color: #e2eced; /* Ensure background is white */
  }
 
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }

  h2 {
    position: relative; /* Ensure relative positioning for z-index */
    z-index: 3; /* Ensure h2 appears above the background image */
    margin-top: 50px; /* Adjust margin as needed */
  }