.input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input-group .p-inputtext {
    width: 100%;
  }
  
  .p-card {
    padding: 1.5rem;
  }
  
  .p-card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .p-button {
    margin-right: 0.5rem;
  }
  
  .p-grid {
    margin-top: 2rem;
  }
  
  .p-col-10 {
    width: 90%;
  }
  
  .p-col {
    padding: 0 0.5rem;
  }
  
  .p-button-success {
    background-color: #28a745; /* Button background color */
    color: #ffffff; /* Button text color */
  }
  
  .p-button-danger {
    background-color: #dc3545; /* Button background color */
    color: #ffffff; /* Button text color */
  }
  
  .custom-dialog {
    width: 30rem;
  }
  
  .custom-dialog .p-dialog-header {
    background-color: #007ad9; 
    color: #ffffff; 
  }
  
  .custom-dialog .p-dialog-footer {
    padding: 1rem;
    text-align: right;
  }
  
  .custom-dialog .p-dialog-content {
    padding: 1rem;
  }
  
  .custom-dialog .p-dialog-footer .p-button {
    margin-left: 0.5rem; /* Adjust the margin between buttons */
  }
  